<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ExpenseController</servlet-name>
        <servlet-class>controller.ExpenseController</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <!--<param-value>org.apache.derby.jdbc.ClientDriver</param-value>-->
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <!--<param-value>app</param-value>-->
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <!--<param-value>app</param-value>-->
            <param-value>8700</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <!--<param-value>jdbc:derby</param-value>-->
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <!--<param-value>1527</param-value>-->
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>expensedb</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExpenseController</servlet-name>
        <url-pattern>/Expenses</url-pattern>
    </servlet-mapping>
    <!--header-->
    <context-param>
        <param-name>header</param-name>
        <param-value>Sophie's Expense Tracker Web App</param-value>
    </context-param>
    <!--footer-->
    <context-param>
        <param-name>footer</param-name>
        <param-value>University of Santo Tomas | SY 2021-2022</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>    
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpage.jsp</location>
    </error-page>
</web-app>
