/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 10, 22, 7:41:37 PM
    Author     : star
*/

#displayresult-container {
    min-width: 50%;
    max-width: 70%;
}

#compute-table {
    min-width: 50%;
    max-width: 60%;
}

#compute-table td:hover, #compute-table th:hover, #update-table td:hover {
        background-color: rgba(0,0,0,.075);
}

#records-table td:nth-child(5) {
    width: 100%;
}

#update, #delete {
    min-width: 75px;
}