/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 10, 22, 7:41:37 PM
    Author     : star
*/

body {
    height: 100%
}

#displayresult-container {
    min-width: 70%;
    max-width: 90%;
}

#displayresult-container td:last-child {
    align-items: center;
    /*padding: 10px;*/
}

#compute-table {
    margin-left: auto;
    margin-right: auto;
    min-width: 10%;
    max-width: 50%;
}

#compute-table td:hover, #update-table td:hover {
    background-color: rgba(0,0,0,.075);
}

#update, #delete {
    min-width: 75px;
}



