/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03 10, 22, 7:41:37 PM
    Author     : star
*/

body {
    min-height: 100vh;
}

nav {
    text-align: center;
}

#content {
    margin-top: 8vmin;
    margin-bottom: 5vmin;
}

#compute-table {
    margin-left: auto;
    margin-right: auto;
    min-width: 10%;
    max-width: 50%;
}

#update-table {
    width: 60%;
    text-align: center;
}

#compute-table td:hover, #update-table td:hover {
    background-color: rgba(0,0,0,.075);
}

.form-inex-input {
    max-width: 7em;
}

#update, #delete {
    min-width: 75px;
}

/*images*/
#happy-coin-size {
    max-height: 25vmin; 
    max-width: 25vmin;
}

#sad-coin-size {
    max-height: 20vmin; 
    max-width: 20vmin;
}

#coin-pile-size {
    max-height: 23vmin; 
    max-width: 23vmin;
}

#coin-stacks-size {
    min-width: 8vmin;
    max-height: 18vmin; 
    max-width: 18vmin;
}

#error-conn {
    max-height: 14vmin; 
    max-width: 14vmin;   
}

/*RFS*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    #input-card {
        width: 60vw;
    }
    
    h1 {
        font-size: 4.5vw;
    }
    
    .small-font, #login-span, #login-input, input {
        font-size: 2.5vw;
    }
    
    #login-span {
        padding-left: 1.5vw;
    }
    
    #submit-btn {
        font-size: 2.65vw;
        width: 6.5em;
    }
    
    #add-btn {
        font-size: 2.65vw;
        width: 4em;
    }
    
    #add-entry-btn, #update-entry-btn {
        font-size: 2.65vw;
        width: 7em;
    }
    
    #return-btn {
        font-size: 2.65vw;
        width: 14vw;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    h1 {
        font-size: 4.75vw;
    }
    
    .small-font, #login-span, #login-input, input {
        font-size: 2.75vw;
    }
    
    #login-span {
        padding-left: 2vw;
    }
    
    #submit-btn {
        font-size: 3.25vw;
        width: 4em;
    }
    
    #add-btn {
        font-size: 3.1vw;
        width: 5em;
    }
    
    #add-entry-btn, #update-entry-btn {
        font-size: 3.1vw;
        width: 7em;
    }
    
    #return-btn {
        font-size: 2.35vw;
        height: 5vw;
        width: 12vw;
        padding: 2px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 990px) { 
    h1 {
        font-size: 2em;
    }
    
    .small-font, #login-span, #login-input, input {
        font-size: 1em;
    }
    
    #login-span {
        padding-left: .75em;
    }
    
    #submit-btn {
        font-size: 1em;
        width: 5em;
    }
    
    #add-btn {
        font-size: 1em;
        width: 6em;
    }
 
    #add-entry-btn, #update-entry-btn {
        font-size: 1.25em;
        width: 8em;
    }
    
    #return-btn {
        font-size: 1.45em;
        height: 3em;
        width: 8em;
        padding: 2px;
    }
}

/*
references:
media query template: https://bootstrapcreative.com/bootstrap-4-media-queries/
*/